<div class="gallery-previews">
  {% for item in gallery.items %}
    {% include '@components/00-lib/atomic-gallery/atomic-gallery.preview.twig' %}
  {% endfor %}
</div>

{% include '@components/00-lib/atomic-gallery/atomic-gallery.lightbox.twig' %}
