<!-- This is a sample file! Use `atomic-gallery.thumbs.twig` and `atomic-gallery.lightbox.twig` explicitly. -->

<div class="gallery-thumbs-grid">
{% include '@components/00-lib/atomic-gallery/atomic-gallery.thumbs.twig' %}
</div>

{% include '@components/00-lib/atomic-gallery/atomic-gallery.lightbox.twig' %}
