<!-- Gallery Thumbnails -->
<div id="links">
  <a href="https://placehold.it/600x400" title="Banana">
    <img src="https://placehold.it/300x200" alt="Banana">
  </a>
  <a href="https://placehold.it/600x400" title="Apple">
    <img src="https://placehold.it/300x200" alt="Apple">
  </a>
  <a href="https://placehold.it/600x400" title="Orange">
    <img src="https://placehold.it/300x200" alt="Orange">
  </a>
</div>

{% include '@components/00-lib/atomic-gallery/atomic-gallery.lightbox.twig' %}
